@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&family=Roboto+Slab:wght@100;400;500;600;800&display=swap");

/* Variables */
:root {
  --primary: #b34734;
  --primaryLightAccent: #ffedea;
  --secondary: #fbbbbb;
  --accent: #2486be;
  --light: #ffffff;
  --lightAccent: #f5f2f2;
  --dark: #2d3342;
}
/* Globals Styles */
.primaryBack {
  background: var(--primary);
}
.primaryLightAccentBack {
  background: var(--primaryLightAccent);
}
.secondaryBack {
  background: var(--secondary);
}
.accentBack {
  background: var(--accent);
}
.lightBack {
  background: var(--light);
}
.lightAccentBack {
  background: var(--lightAccent);
}
.darkBack {
  background: var(--dark);
}

.primaryColor {
  color: var(--primary);
}
.primaryLightAccentColor {
  color: var(--primaryLightAccent);
}
.secondaryColor {
  color: var(--secondary);
}
.accentColor {
  color: var(--accent);
}
.lightColor {
  color: var(--light);
}
.lightAccentColor {
  color: var(--lightAccent);
}
.darkColor {
  color: var(--dark);
}

body {
  font-family: "Ubuntu", sans-serif;
}

h1 h2 h3 h4 h5 h6 {
  font-family: "Roboto Slab";
}

.baseHover:hover {
  color: var(--secondary) !important;
}

/* Bootstrap Overwriting */
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: var(--light) !important;
  background-color: var(--primary) !important;
}

.nav-link {
  color: var(--dark) !important;
}
.nav-link:hover {
  color: var(--secondary) !important;
}

.accordion {
  --bs-accordion-border-width: 0px !important;
}

.accordion-button {
  background-color: none !important;
}

.accordion-button:focus {
  outline: none !important;
  border-color: none !important;
  box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
  background-color: var(--light) !important;
  outline: none !important;
  /* color: var(--primary); */
  font-weight: 500;
  transition: 1s ease;
}
