@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&family=Roboto+Slab:wght@100;400;500;600;800&display=swap");

/* Variables */
:root {
  --primary: #e05353;
  --secondary: #fbe0e0;
  --light: #ffeeee;
  --dark: #222222;
}
/* Globals Styles */
.primaryBack {
  background: var(--primary);
}
.secondaryBack {
  background: var(--secondary);
}
.lightBack {
  background: var(--light);
}
.darkBack {
  background: var(--dark);
}

.primaryColor {
  color: var(--primary);
}
.secondaryColor {
  color: var(--secondary);
}
.lightColor {
  color: var(--light);
}
.darkColor {
  color: var(--dark);
}

body {
  font-family: "Ubuntu", sans-serif;
}

h1 h2 h3 h4 h5 h6 {
  font-family: "Roboto Slab";
}

/* Bootstrap Overwriting */
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: var(--light);
  background-color: var(--primary);
}

.nav-link {
  color: var(--dark);
}
.nav-link:hover {
  color: var(--primary);
}
